.inputs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.profileImg {
  border-radius: 9999px;
  width: 20ch;
}

.imgLabel {
  position: relative;
}

.editIcon {
  background: #656ED3;
  bottom: 10%;
  border: 2px solid #D9DBFF;
  border-radius: 9999px;
  display: block;
  height: 2.5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  width: 2.5rem;
}

.inputs > input[type="file"] {
  display: none;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}