.registerContainer{
    display: flex;
    flex-direction: column;
}

.registerSeparator{
    height: 24px;
}

.registerLoginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre;
    margin-top: 10px;
}

.registerErrorText{
    color: #A50000;
    font-size: 14px;
    align-self: center;
}