.material {
  align-items: center;
  background-color: #D9DBFF;
  border-radius: 8px;
  box-shadow: 0 4px 4px #0003;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  scroll-snap-align: start;
}
.delete {
  background-color: #5616AA;
  border: none;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 0.25em;
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  color: white;
}
.name {
  color: black;
  font-size: 0.85rem;
  font-weight: 600;
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}
a {
  text-decoration: none;
  width: 100%;
}

.authorContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin-top: 5px;
}
.author {
  color: black;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.turma_cardHeader {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-self: flex-end;
  gap: 0.5rem;
}