.day {
  background: transparent;
  border-radius: 9999px;
  border: 1px solid #5616AA;
  color: #5616AA;
  height: 1.8em;
  width: 1.8em;
  cursor: default;
}
.day.hasClass {
  background-color: #5616AA;
  color: white;
}
.day.selected {
  box-shadow: 0 1vmin 1vmin #0003;
}