.turmas_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto';

   margin-bottom: 2rem;
}

.turmas_title {
   padding: 2rem;
   text-align: center;
   color: #5616AA;
}

.turmas_searchBar{
   background-color: #D9DBFF;
   border-radius: 8px;
   display: flex;
   align-items: center;
   width: 40%;
   padding: 0 8px;
}

.turmas_search {
   width: 100%;
   padding-left: 12px;
   font-size: 14px;
   height: 32px;
   border-radius: 8px;
   margin: 8px;
   box-sizing: border-box; 
   border: none;
   background-color: inherit;
   color: #9B9A9A;
}

.turmas_search:focus {
   outline: none;
}

.turma_cardsContainer{
   width: calc((225px + 1rem) * 5);
   margin: 3rem auto;
   display: flex;
   justify-content: flex-start;
   gap: 1rem;
   flex-wrap: wrap;
   max-width: 90vw;
}

