.turma {
  background-color: #D9DBFF;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(128, 128, 128, 0.25);
  padding: 1ch;
}
.header {
  align-items: center;
  display: flex;
}
.header h2 {
  font-family: sans-serif;
  font-size: 0.825rem;
  font-weight: 400;
  margin: 0 1ch;
}
.name {
  font-size: 0.825rem;
  font-weight: 400;
  margin: 6px 0;
}
.participantes {
  display: flex;
  gap: 0.5rem;
}
.imgWrapper {
  height: 2rem;
  position: relative;
  width: 2rem;
}
.imgWrapper img {
  background-color: lightgray;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
}
.imgWrapper::after {
  border-radius: 9999px;
  bottom: 0;
  content: " ";
  display: block;
  height: 0.8rem;
  position: absolute;
  right: 0;
  width: 0.8rem;
}
.footer {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0.25rem 0;
}
.footer h3 {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}
.footer button {
  appearance: none;
  background-color: #656ED3;
  border: 0;
  border-radius: 9999px;
  color: white;
  font-weight: 500;
  padding: 0.25rem 1rem;
}