.activitiesContainer{
    width: 430px;
}

.activitiesSeparator{
    height: 10px;
}

.activitiesDateContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}

.activitiesDateSelector{
    display: flex;
    flex-direction: column;
}

.activitiesButtonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}